.cabeçalho {
    background-color: rgba(153, 221, 217, 0.486);
color: rgb(0, 0, 0);
display: flex;
justify-content: space-around;
padding: 29px 0;
font-size: 20px 0;
}

.cabeçalho-imagem{

}
.cabeçalho-lista-item{

}